{% extends "main_site/base.html" %}
{% block content %}
    <div class="container header">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" id="upload_image">添加</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="modifyInfo">批量添加</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="submitInfo">修改</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-right">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'journey' %}" style="color: #8a1010">系统设置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_manage' %}" style="color: #8a1010;font-weight: bold">账号管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_info_manage' %}" style="color: #8a1010;">信息管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'activity_manage' %}" style="color: #8a1010;">活动管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_manage' %}" style="color: #8a1010">党课管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'document_manage' %}" style="color: #8a1010">材料管理</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>
    </div>

    <div class="container header">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" nowrap>序号</th>
                    <th scope="col" nowrap>账号</th>
                    <th scope="col" nowrap>邮箱</th>
                    <th scope="col" nowrap>姓名</th>
                    <th scope="col" nowrap>学号</th>
                    <th scope="col" nowrap>管理员</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr title="{{ result.id }}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td nowrap>{{ result.username }}</td>
                        <td nowrap>{{ result.email }}</td>
                        <td nowrap>{{ result.real_name }}</td>
                        <td nowrap>{{ result.student_id }} </td>
                        <td nowrap>{% if result.is_admin %}是{% else %}否{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}