{% extends "main_site/base.html" %}
{% block content %}
    <script>
        $(document).ready(function () {
            /* 点击某一行显示修改和删除按钮 */
            $("tbody tr").click(function () {

                $("#target_id").val(this.title);
                $(".operation").attr("hidden", false);
                if ($("tr").hasClass("table-active")) {
                    $("tr").removeClass("table-active");
                }
                $(this).addClass("table-active");
                var target_id = $("#target_id").val();
                var username = $("tr[title=" + target_id + "]").find("td").eq(0).text();
                var email = $("tr[title=" + target_id + "]").find("td").eq(1).text();
                var real_name = $("tr[title=" + target_id + "]").find("td").eq(2).text();
                var student_id = $("tr[title=" + target_id + "]").find("td").eq(3).text();
                var is_admin = $("tr[title=" + target_id + "]").find("td").eq(4).text();
                $("#username").val(username);
                $("#email").val(email);
                $("#real_name").val(real_name);
                $("#student_id").val(student_id);
                $("#is_admin").val(is_admin);
            });

            /* 删除功能 */
            $("#deleteInfo").click(function () {
                $("#btn").val("delete");
                $("#form").submit();
            });

            /* 点击空白处失去选中，并清空id记录 */
            $(document).on("click", function (e) {
                if (e.target.tagName != "TH" && e.target.tagName !== "TD" && e.target.tagName !== "A") {
                    $("#target_id").val("");
                    $(".operation").attr("hidden", true);
                    if ($("tr").hasClass("table-active")) {
                        $("tr").removeClass("table-active");
                    }
                }
            });
        });


    </script>
    <style>
        .modal-dialog.modal-800 {
            width: 1100px;
            max-width: 1100px;
        }
    </style>
    <div class="container header">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item operation" hidden>
                        <a class="nav-link" id="submitInfo" data-toggle="modal" id="modifyInfo" data-target="#exampleModalCenter">修改</a>
                    </li>
                    <li class="nav-item operation" hidden>
                        <a class="nav-link" id="deleteInfo">删除</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-right">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'setting' %}" style="color: #8a1010">系统设置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_manage' %}" style="color: #8a1010;font-weight: bold">账号管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_info_manage' %}" style="color: #8a1010;">人员管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'branch_manage' %}" style="color: #8a1010;">支部管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'activity_manage' %}" style="color: #8a1010;">活动管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_manage' %}" style="color: #8a1010">党课管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'document_manage' %}" style="color: #8a1010">材料管理</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-800 modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">账号</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form" method="POST" enctype="multipart/form-data">
                        <input type="hidden" id="target_id" class="form-control" name="target_id" value="{{ target_id }}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-3">
                                <label for="content">账号</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group col-3">
                                <label for="content">邮箱</label>
                                <input type="text" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group col-3">
                                <label for="expected_result">姓名</label>
                                <input type="text" class="form-control" id="real_name" name="real_name" required>
                            </div>
                            <div class="form-group col-3">
                                <label for="content">学号</label>
                                <input type="text" class="form-control" id="student_id" name="student_id" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-2">
                                <label for="content">管理员</label>
                                <select class="form-control" name="is_admin" id="is_admin">
                                    <option vale="1">是</option>
                                    <option vale="0">否</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-danger" id="submitForm" value="submit">提交</button>
                            </div>
                        </div>
                        <input type="hidden" id="btn" name="btn" value="submit">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container header">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" nowrap>序号</th>
                    <th scope="col" nowrap>账号</th>
                    <th scope="col" nowrap>邮箱</th>
                    <th scope="col" nowrap>姓名</th>
                    <th scope="col" nowrap>学号</th>
                    <th scope="col" nowrap>管理员</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr title="{{ result.id }}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td nowrap>{{ result.username }}</td>
                        <td nowrap>{{ result.email }}</td>
                        <td nowrap>{{ result.real_name }}</td>
                        <td nowrap>{{ result.student_id }} </td>
                        <td nowrap>{% if result.is_admin %}是{% else %}否{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}