{% extends "main_site/base.html" %}
{% block content %}
    <script>
        $(document).ready(function () {
            $("#upload_image").click(function () {
                alert("请上传证件照，否则将影响志愿活动审核！");
                $("#image").click();
            });
            $("#modifyInfo").click(function () {
                $("#real_name").attr("readonly", false);
                $("#student_id").attr("readonly", false);
                $("#email").attr("readonly", false);
            });
            $("#submitInfo").click(function () {
                $("#form").submit();
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#show_image').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#image").change(function () {
                readURL(this);
            });
        });

    </script>
    <div class="container header">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a data-toggle="collapse" data-target="#navbarToggler2" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                </ul>
            </div>
            <div class="navbar-right">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="upload_image">上传头像</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="modifyInfo">修改</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="submitInfo">保存</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>
        <div class="container mt-5">
            <form method="POST" id="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-xl-3 d-none d-lg-block">
                        {% load static %}
                        <label for="show_image">照片</label>
                        {% if user.photo_path %}
                            <img src="{% static user.photo_path %}" class="img-fluid" alt="Responsive image" id="show_image">
                        {% else %}
                            <img src="{% static "nobody.jpg" %}" class="img-fluid" alt="Responsive image" id="show_image">
                        {% endif %}
                        <input type="file" class="form-control" id="image" name="file" hidden>
                    </div>
                    <div class="col-xl-9 col-sm-12">
                        <div class="row">
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">姓名</label>
                                <input type="text" class="form-control" id="real_name" name="real_name" value="{{ user.real_name }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">学号</label>
                                <input type="text" class="form-control" id="student_id" name="student_id" value="{{ user.student_id }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">班级</label>
                                <input type="text" class="form-control" id="branch" name="branch" value="{{ ccp_member.related_class }}" required readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">邮箱</label>
                                <input type="text" class="form-control" id="email" name="email" value="{{ user.email }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">联系电话</label>
                                <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ ccp_member.phone_number }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">支部</label>
                                <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ ccp_member.branch }}" required readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="tutor">导师</label>
                                <input type="text" class="form-control" id="email" name="email" value="{{ ccp_member.tutor }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="id_number">身份证号</label>
                                <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ ccp_member.id_number }}" required readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">入党志愿书提交日期</label>
                                <input type="text" class="form-control" id="date_1" name="date_1" value="{{ date_1|date:"Y-m-d" }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">推优日期</label>
                                <input type="text" class="form-control" id="date_1" name="date_1" value="{{ date_2|date:"Y-m-d" }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">通过院党课时间</label>
                                <input type="text" class="form-control" id="level_1" name="level_1" value="{{ date_3|date:"Y-m-d" }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">通过校党课时间</label>
                                <input type="text" class="form-control" id="level_2" name="level_2" value="{{ date_4|date:"Y-m-d" }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">列为发展对象日期</label>
                                <input type="text" class="form-control" id="date_1" name="date_1" value="{{ date_5|date:"Y-m-d" }}" required readonly>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">入党日期</label>
                                <input type="text" class="form-control" id="date_2" name="date_2" value="{{ ccp_member.date|date:"Y-m-d" }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">政治面貌</label>
                                <input type="text" class="form-control" id="current_state" name="current_state" value="{{ ccp_member.current_state }}" required readonly>
                            </div>
                            <div class="form-group col-sm-12 col-xl-4">
                                <label for="real_name">入党介绍人</label>
                                <input type="text" class="form-control" id="sponsor" name="sponsor" value="{{ ccp_member.sponsor }}" required readonly>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}