{% extends "main_site/base.html" %}
{% block content %}
    <script>
        $(document).ready(function () {
            $("#CoverInfo").click(function (event) {
                event.preventDefault();
                alert("go");
                $("#is_cover").val("1");
                $("#target_form").submit();
            });

            $("#submitInfo").click(function (event) {
                event.preventDefault();
                $("#is_cover").val("0");
                $("#target_form").submit();
            });
        });

    </script>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if select_1 == "user_info_list" %}select{% endif %}" href="{% url "user_info_list" %}">党员列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if select_1 == "user_info_manage" %}select{% endif %}" href="{% url "user_info_manage" %}">党员管理</a>
                </li>
            </ul>
        </nav>
        <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>
        <div class="container mt-3">
            <form id="target_form" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">文件</label>
                    <input type="text" class="form-control" id="is_cover" name="is_cover" hidden>
                </div>
                <input type="file" class="form-control" id="file" name="file">

                {% csrf_token %}
                <hr>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-danger" id="CoverInfo">覆盖</button>
                        <button class="btn btn-danger ml-2" id="submitInfo">追加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    </div>
    </div>
    </div>
{% endblock %}