{% extends "main_site/base.html" %}
{% block content %}
    <script>
        $(document).ready(function () {

            $("#cover_record").click(function () {
                $("#is_cover").val("1");
                $("#target_form").attr('action', "/activity/manage/audit_record");
                $("#target_form").submit();
            });

            $("#add_record").click(function () {
                $("#target_form").attr('action', "/activity/manage/audit_record");
                $("#target_form").submit();
            });

            $("#upload_file").click(function () {
                $("#file").click();
            });
        });
    </script>


    <div class="container">
        <!-- 二级菜单 -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <ul class="navbar-nav" style="flex-direction: row;">
                <li class="nav-item ">
                    <a class="nav-link {% if select_1 == "activity_list" %}select{% endif %}" href="{% url "activity_list" %}">活动列表</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link {% if select_1 == "activity_manage" %}select{% endif %}" href="{% url "activity_manage" %}">添加活动</a>
                </li>
            </ul>
        </nav>
        <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>

        <div class="container mt-3">
            <form method="POST" id="target_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-8">
                        <label for="content">活动名称</label>
                        <input type="text" class="date form-control" id="activity_name" name="activity_name" required>
                    </div>
                    <div class="form-group col-2">
                        <label for="content">活动时长（小时）</label>
                        <input type="text" class="date form-control" id="time_length" name="time_length" required>
                    </div>
                    <div class="form-group col-2">
                        <label for="content">最大人数</label>
                        <input type="text" class="semester form-control" id="max_person" name="max_person" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="content">活动开始时间</label>
                        <input type="text" class="semester form-control" id="activity_time" name="activity_time" placeholder="例：2018-11-11 11:11" required>
                    </div>
                    <div class="form-group col-4">
                        <label for="content">报名截止时间</label>
                        <input type="text" class="semester form-control" id="close_time" name="close_time" placeholder="例：2018-11-11 11:11" required>
                    </div>
                    <div class="form-group col-2">
                        <label for="person_in_charge">负责人</label>
                        <input type="text" class="form-control" id="person_in_charge" name="person_in_charge" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="content">活动内容</label>
                        <textarea type="text" class="form-control" id="content" name="content" rows="4" required></textarea>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-danger">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



{% endblock %}