{% extends "main_site/base.html" %}
{% block content %}
    <script>
        $(document).ready(function () {
            /* 点击某一行显示修改和删除按钮 */
            $("tbody tr").click(function () {
                $("#target_id").val(this.title);
                if ($("tr").hasClass("table-active")) {
                    $("tr").removeClass("table-active");
                }
                $(this).addClass("table-active");
                var target_id = $("#target_id").val();
                var activity_name = $("tr[title=" + target_id + "]").find("td").eq(0).text();
                var time_length = $("tr[title=" + target_id + "]").find("td").eq(1).text();
                var close_time = $("tr[title=" + target_id + "]").find("td").eq(2).text();
                var activity_time = $("tr[title=" + target_id + "]").find("td").eq(3).text();
                var present_person = $("tr[title=" + target_id + "]").find("td").eq(4).text();
                var max_person = $("tr[title=" + target_id + "]").find("td").eq(5).text();
                var publisher = $("tr[title=" + target_id + "]").find("td").eq(6).text();
                $("#activity_name").val(activity_name);

                $("#time_length").val(time_length);
                $("#close_time").val(close_time);
                $("#activity_time").val(activity_time);
                $("#present_person").val(present_person);
                $("#max_person").val(max_person);
                $("#publisher").val(publisher);
                $("#join").click();
            });

            /* 点击空白处失去选中，并清空id记录 */
            $(document).on("click", function (e) {
                if (e.target.tagName != "TH" && e.target.tagName !== "TD" && e.target.tagName !== "A") {
                    $("#target_id").val();
                    $(".operation").attr("hidden", true);
                    if ($("tr").hasClass("table-active")) {
                        $("tr").removeClass("table-active");
                    }
                }
            });
        });
    </script>
    <style>
        .modal-dialog.modal-800 {
            width: 1100px;
            max-width: 1100px;
        }
    </style>
    <div class="container header">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item operation" hidden>
                        <a class="nav-link" id="join" data-toggle="modal" data-target="#exampleModalCenter">参加活动</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-right">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'activity' %}" style="color: #8a1010;">我的活动</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link select" href="{% url 'joinActivity' %}" style="color: #8a1010">参加活动</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-800 modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">参加活动</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            <input id="target_id" name="target_id" value="" hidden>
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="content">活动名称</label>
                                    <input type="text" class="date form-control" id="activity_name" readonly>
                                </div>
                                <div class="form-group col-2">
                                    <label for="content">活动时长</label>
                                    <input type="text" class="date form-control" id="time_length" readonly>
                                </div>
                                <div class="form-group col-2">
                                    <label for="content">最大人数</label>
                                    <input type="text" class="semester form-control" id="max_person" readonly>
                                </div>
                                <div class="form-group col-2">
                                    <label for="content">报名人数</label>
                                    <input type="text" class="semester form-control" id="present_person" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-4">
                                    <label for="content">活动开始时间</label>
                                    <input type="text" class="semester form-control" id="activity_time" readonly>
                                </div>
                                <div class="form-group col-4">
                                    <label for="content">报名截止时间</label>
                                    <input type="text" class="semester form-control" id="close_time" readonly>
                                </div>
                                <div class="form-group col-2">
                                    <label for="content">发布人</label>
                                    <input type="text" class="semester form-control" id="publisher" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="content">活动内容</label>
                                    <textarea type="text" class="semester form-control" id="remark" readonly></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-danger">报名</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <div class="container header">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" nowrap>序号</th>
                    <th scope="col" nowrap>活动名称</th>
                    <th scope="col" nowrap>活动时长（小时）</th>
                    <th scope="col" nowrap>报名截止时间</th>
                    <th scope="col" nowrap>活动时间</th>
                    <th scope="col" nowrap>报名人数</th>
                    <th scope="col" nowrap>最大人数</th>
                    <th scope="col" nowrap>发布人</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr title="{{ result.id }}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td nowrap>{{ result.activity_name }}</td>
                        <td nowrap>{{ result.time_length }}</td>
                        <td nowrap>{{ result.close_time|date:"Y-m-d H:i" }}</td>
                        <td nowrap>{{ result.activity_time|date:"Y-m-d H:i" }} </td>
                        <td nowrap>{{ result.present_person }} </td>
                        <td nowrap>{{ result.max_person }} </td>
                        <td nowrap>{{ result.publisher }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}