{% extends "activity/base.html" %}
{% block content_1 %}
    <script>
        $(document).ready(function () {
            /* 点击某一行显示修改和删除按钮 */
            $(".card").click(function () {
                    $('#modal').modal();
                    target_id = $(this).attr("id");
            });

            $("#submit").click(function (event) {
                event.preventDefault();
                var csrf_token = $("[name='csrfmiddlewaretoken']").val();
                var data ={
                    "target_id": target_id,
                    "csrfmiddlewaretoken" : csrf_token
                }
                $.post("/activity/joinActivity",data,function (data) {
                    document.write(data);
                })
            })
        });
    </script>
    <style>
        .modal-dialog.modal-800 {
            width: 1100px;
            max-width: 1100px;
        }
    </style>

    <div class="container header">
        <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">参加活动</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form method="POST">
                                <input id="target_id" name="target_id" value="" hidden>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">请确认是否参加此次活动！</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-danger" id="submit">报名</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        {% for result in results %}
            <div class="card mt-3" id="{{ result.id }}">
                <h6 class="card-header bg-white">{{ result.activity_name }}
                    <span class="badge badge-danger">{{ result.present_person }}/{{ result.max_person }}</span>
                </h6>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6">
                                <p class="col-12">报名截止时间: {{ result.close_time|date:"Y-m-d H:i" }}</p>
                                <p class="col-12">活动开始时间: {{ result.activity_time|date:"Y-m-d H:i" }}</p>
                                <p class="col-12">时长: {{ result.time_length }}小时</p>
                                <p class="col-12">发布人: {{ result.publisher }}</p>
                            </div>
                            <div class="col-xl-6">
                                <p class="col-12">活动内容: {{ result.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}