{% extends "activity/base.html" %}
{% block content_1 %}
    {% load static %}
    <script src="{% static "js/join_activity.js" %}"></script>
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>

    <div class="container header">
        <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">参加活动</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form method="POST">
                                <input id="target_id" name="target_id" value="" hidden>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12" id="prompt">请确认是否参加此次活动！</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-danger" id="submit">报名</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="response_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="response_modal_title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-12" id="response_modal_prompt">请确认是否参加此次活动！</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        {% for result in results %}
            <div class="card mt-3" id="{{ result.id }}">
                <h6 class="card-header bg-white">{{ result.activity_name }}
                </h6>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6">
                                <p class="col-12">报名截止时间: {{ result.close_time|date:"Y-m-d H:i" }}</p>
                                <p class="col-12">活动开始时间: {{ result.activity_time|date:"Y-m-d H:i" }}</p>
                                <p class="col-12">时长: {{ result.time_length }}小时</p>
                                <p class="col-12">发布人: {{ result.publisher }}</p>
                                <p class="col-12">报名人数: {{ result.present_person }}/{{ result.max_person }}</p>
                            </div>
                            <div class="col-xl-6">
                                <p class="col-12">活动内容: {{ result.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}