{% extends "activity/user_activity_base.html" %}
{% block content_1 %}
    <script>
        $(document).ready(function () {
            $(".card").click(function () {
                $("#target_id").val($(this).attr("id"));
                $("#modal").modal();
            });
        });
    </script>
    <style>
        .modal-dialog.modal-800 {
            width: 1100px;
            max-width: 1100px;
        }
    </style>

    <div class="container header">
        <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-800 modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">参加活动</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            <input id="target_id" name="target_id" value="" hidden>
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="content">证明材料（需要提交活动现场的自拍）</label>
                                    <input type="file" class="form-control" id="proof" name="proof">
                                </div>

                            </div>
                            <hr>
                            <div class="row">
                                <div class="form-group col-12">
                                    <button class="btn btn-danger" name="btn" id="save" value="save">保存</button>
                                    <button class="btn btn-danger ml-3" name="btn" value="quit">退出活动</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        {% for result in results %}
            <div class="card mt-3" id="{{ result.id }}">
                <h6 class="card-header bg-white">{{ result.activity_name }}
                    <span class="badge {% if result.is_ok == True %}badge-success{% else %}badge-danger{% endif %}">活动材料{% if result.is_ok %}已{% else %}未{% endif %}通过审核</span></h6>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6">
                                <p class="col-12">报名时间: {{ result.joinTime|date:"Y-m-d H:i" }}</p>
                                <p class="col-12">活动时间: {{ result.activity_time|date:"Y-m-d H:i" }}</p>
                                <p class="col-12">时长: {{ result.time_length }}小时</p>
                                <p class="col-12">审核人:{% if result.auditor != "" %}{{ result.auditor }}{% else %}无{% endif %}</p>
                                <p class="proof col-12">证明材料: {% if result.proof != "" %}<a id="file" href="{{ result.proof }}">点击下载</a>{% else %}未上传{% endif %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}