<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.14.5/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>信息与电子学院党建信息平台</title>
</head>
<body>
<style>
    @import url("/static/js/base.css");
</style>


<div class="top">
    {% load static %}
    <img class="center" src="{% static "logo_index.png" %}"/>
</div>

<div class="container mt-3">
    <hr style="margin:0 !important; border:none;border-top:1px solid #cc1c25;"/>

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if user.is_authenticated and user.is_teacher == False %}
                    <li class="nav-item">
                        <a class="nav-link {% if select == "index" %}select{% endif %}" href="{% url 'index' %}" style="color: #8a1010">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if select == "info" %}select{% endif %}" href="{% url 'info' %}" style="color: #8a1010;">我的信息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if select == "journey_course" %}select{% endif %}" href="{% url 'journey_course' %}" style="color: #8a1010">我的党课</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if select == "journey_document" %}select{% endif %}" href="{% url 'journey_document' %}" style="color: #8a1010">我的材料</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if select == "activity" %}select{% endif %}" href="{% url 'activity' %}" style="color: #8a1010">志愿时长</a>
                    </li>
                {% endif %}
                {% if user.is_teacher %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if select == "setting" %}select{% endif %}" href="{% url 'setting' %}" >系统设置</a>
                        </li>
                        {% if user.is_teacher %}
                            <li class="nav-item">
                                <a class="nav-link {% if select == "account_manage" %}select{% endif %}" href="{% url 'account_manage' %}" style="color: #8a1010;">账号管理</a>
                            </li>
                        {% endif %}
                        {% if user.is_teacher %}
                            <li class="nav-item">
                                <a class="nav-link {% if select == "user_info_manage" %}select{% endif %}" href="{% url 'user_info' %}">人员管理</a>
                            </li>
                        {% endif %}
                        {% if user.is_teacher %}
                            <li class="nav-item">
                                <a class="nav-link {% if select == "branch_manage" %}select{% endif %}" href="{% url 'branch_manage' %}" style="color: #8a1010;">支部管理</a>
                            </li>
                        {% endif %}
                        {% if user.is_gxh or user.is_teacher %}
                            <li class="nav-item">
                                <a class="nav-link {% if select == "activity_manage" %}select{% endif %}" href="{% url 'activity_manage' %}" style="color: #8a1010;">活动管理</a>
                            </li>
                        {% endif %}
                        {% if user.is_gxh or user.is_teacher %}
                            <li class="nav-item">
                                <a class="nav-link {% if select == "activity_record_manage" %}select{% endif %}" href="{% url 'activity_record_manage' %}" style="color: #8a1010;">时长管理</a>
                            </li>
                        {% endif %}
                        {% if user.is_gxh or user.is_teacher %}
                            <li class="nav-item">
                                <a class="nav-link {% if select == "course_manage" %}select{% endif %}" href="{% url 'course_manage' %}" style="color: #8a1010">党课管理</a>
                            </li>
                        {% endif %}
                        {% if user.is_gxh or user.is_teacher %}
                            <li class="nav-item">
                                <a class="nav-link {% if select == "document_manage" %}select{% endif %}" href="{% url 'document_manage' %}" style="color: #8a1010">材料管理</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </ul>
            <div class="navbar-right">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="settings/{{ user.username }}" style="color:#333;">Welcome {{ user.username }}
                                !</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" style="color:#333;">注销</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}" style="color:#333;">登录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}" style="color:#333;">注册</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>
    <hr style="margin:0 !important; border:none;border-top:4px solid #cc1c25;"/>
</div>

{% block content %}
{% endblock %}
</body>
</html>