<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.slim.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.14.5/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>信息与电子学院党建信息平台</title>
</head>
<body>
<style>
    @import "/static/js/index.css";
</style>
<script>
    $(document).ready(function () {
        $("#register").click(function () {
            event.preventDefault();
            $(location).attr('href', '/user_info/register');
        });
    });
</script>
<div class="top">
    {% load static %}
    <img class="top-image" src="{% static "logo_index.png" %}"/>
</div>
<div class="content">
    <div class="container col-md-3" style="margin-top: 180px">
        <form class="align-items-end" style="margin-top: 5em;" method="post" action="{% url "login" %}">
            <div class="form-group">
                {% csrf_token %}
                <label for="exampleInputEmail1">用户名</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <div class="row col-12">
                    <button type="submit" class="btn btn-danger">登录</button>
                    <button class="ml-3 btn btn-danger" id="register">注册</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="bottom">
    {% load static %}
    <img class="bottom-image" src="{% static "background.png" %}"/>
</div>
</body>
</html>