<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'setting' %}" style="color: #8a1010;{% if select_1 == "setting" %}font-weight: bold;{% endif %}">系统设置</a>
    </li>
    {% if user.is_teacher %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_manage' %}" style="color: #8a1010;{% if select_1 == "account_manage" %}font-weight: bold;{% endif %}">账号管理</a>
        </li>
    {% endif %}
    {% if user.is_secretary %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'branch_info' %}" style="color: #8a1010;{% if select_1 == "branch_info" %}font-weight: bold;{% endif %}">我的支部</a>
        </li>
    {% endif %}
    {% if user.is_teacher %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_info_manage' %}" style="color: #8a1010;">人员管理</a>
        </li>
    {% endif %}
    {% if user.is_teacher %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'branch_manage' %}" style="color: #8a1010;">支部管理</a>
        </li>
    {% endif %}
    {% if user.is_gxh or user.is_teacher %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'activity_manage' %}" style="color: #8a1010;">活动管理</a>
        </li>
    {% endif %}
    {% if user.is_gxh or user.is_teacher %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'course_manage' %}" style="color: #8a1010">党课管理</a>
        </li>
    {% endif %}
    {% if user.is_gxh or user.is_teacher %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'document_manage' %}" style="color: #8a1010">材料管理</a>
        </li>
    {% endif %}
</ul>